body{
    background-color: #4C216D;
    font-family: 'Nunito', Verdana, sans-serif;
    font-size: 20px;
}

.logo{
    display: inline-block;
    width: 50%;
    height: 50%;
    margin: 15px;
    justify-content: center;
}